@import '../utils/index.css';
@import "../components/status-bar.css";
@import '../components/bottom-navbar.css';

.notifications{
    display: flex;
    width: 90%;
    margin: 0 auto;
    align-items: center;
    margin-bottom: 18px;
    font-weight: bold;
    font-size: 17px;
}
.notifications img{
    margin-right: 7px;
}
.new-arrival{
    margin-bottom: 25px;
    background-color: #424242;
}
.new-arrival img{
    width: 113px;
    height: 55px;
    margin-right: 30px;
}
.new-arrival-01{
    display: flex;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 12px;
}
.new-arrival-02{
    display: flex;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 12px;
}
.new-arrival__text{
    height: 47px;
}
.new-arrival__text__new{
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 7px;
}
.new-arrival__text__title{
    font-weight: 400;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.83);
    margin-bottom: 7px;
}
.new-arrival__text__paragraph{
    font-weight: 500;
    font-size: 10.5095px;
    color: rgba(255, 255, 255, 0.48);
}
.arrivals-spotlight__img{
    width: 375px;
    height: 195px;
}
.arrivals-spotlight__icons{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: flex-end;
    width: 90%;
    margin: 0 auto;
    padding-top: 20px;
}
.arrivals-spotlight__remind-me{
    margin-right: 45px;
}
.arrivals-spotlight__icon__text{
    margin-top: 7px;
    font-size: 11px;
    font-weight: 400;
}
.arrivals-spotlight--desc{
    width: 95%;
    margin: 0 auto;
}
.arrivals-spotlight--desc__text{
    font-size: 11px;
    font-weight: 400;
}
.arrivals-spotlight--desc__release-date{
    padding-top: 13px;
    font-size: 11px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.83);
}
.arrivals-spotlight--desc__title{
    padding-top: 13px;
    font-weight: 700;
    font-size: 18.66px;
}
.arrivals-spotlight--desc__text{
    padding-top: 13px;
    font-size: 11px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.83);
}
.arrivals-spotlight--genres{
    padding-top: 13px;
    padding-bottom: 17px;
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: 0 auto;
    font-size: 11px;
    font-weight: 500;
}
.bottom-navbar__background{
    width: 100%;
    position: fixed;
    bottom: 0;
}