@import '../utils/index.css';
@import "../components/status-bar.css";
@import '../components/profile.css';
@import '../components/share.css';
@import '../components/settings.css';
@import '../components/bottom-navbar.css';

.manage{
    display: flex;
    justify-content: center;
}
.manage__text{
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    margin-left: 6px;
    color: #ffffff81
}
.profile{
    margin-top: 40px;
    margin-bottom: 10px;
}
.settings{
    margin-bottom: 81px;
}
.bottom-navbar__background{
    width: 100%;
    position: fixed;
    bottom: 0;
}