@import '../utils/index.css';
@import "../components/status-bar.css";
@import '../components/search-input.css';
@import '../components/search-movie.css';
@import '../components/bottom-navbar.css';

body{
    position: relative;
}
.title{
    font-weight: 700;
    font-size: 27px;
    margin: 21px auto;
    width: 95%;
}
.bottom-navbar__background{
    width: 100%;
    position: fixed;
    bottom: 0;
}
.search-movie__img{
    width: 146px;
    height: 76px;
}
.search-movie__play__text{
    margin-left: 14px;
}
.search-movie__play--button{
    margin-right: 6px;
}