.search-movie__background{
    background-color: #424242;
}
.search-movie{
    display: flex;
    align-items: center;
    height: 76px;
}
.searh-movie__img{
    width: 146px;
    height: 76px;
    border-radius: 2px;
}
.search-movie__play{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
}