body{
    background-color: black;
}
p,h1,h2,h3,span,strong{
    color: white;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
}
.max-resolution{
    display: none;
    text-align: center;
    margin: 0 auto;
    height: 100vh;
    width: 80vw;
}
.max-resolution__text{
    font-size: 20px;
}
.max-resolution__text--tablet{
    display: block;
}
.max-resolution__text--notebook{
    display: none;
}
.load-circle{
    display: none;
    margin-top: 20px;
    animation: loading-01 1000ms infinite;
}
.load-bars{
    display: none;
    margin-top: 60px;
    animation: loading-02 1000ms infinite;
}
.load-bar-02{
    animation-delay: 0.1s;
}
.load-bar-03{
    animation-delay: 0.2s;
}
.load-bar-04{
    animation-delay: 0.3s;
}
.load-bar-05{
    animation-delay: 0.4s;
}
@keyframes loading-01{
    50%, 100%{
        transform: rotate(360deg);
    }
}
@keyframes loading-02{
    0%{
        transform: scaleY(50%);
    } 
    50%, 100% {
        transform: scaleY(150%);
    }
}
.content{
    display: block;
}
/* Tablets */
@media screen and (min-width:500px) {
    .max-resolution{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .load-circle{
        display: block;
    }
    .content{
        display: none;
    }
    .load-bars{
        display: none;
    }
}
/* Notebooks */
@media screen and (min-width:992px) {
    .max-resolution__text--tablet{
        display: none;
    }
    .max-resolution__text--notebook{
        display: block;
    }
}